.additional-products {
  padding-bottom: 36px;
  border-top: 2px solid $light-green;

  &__title {
    display: inline-block;
    padding-left: 20px;
    padding-right: 22px;
    margin-left: -20px;
    margin-bottom: 35px;
    font-size: 24px;
    line-height: 1;
    font-weight: 400;
    color: $black;
    background-color: $white;

    @include tablet {
      padding-left: 37px;
    }
  }

  &__wrapper {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: -41px;

    @include tablet {
      padding-left: 30px;
      padding-right: 30px;
    }

    @include desktop {
      display: flex;
      padding-left: 110px;
      padding-right: 110px;
    }
  }

  &__list {
    @include list-styles-reset;
    padding-top: 1px;
    border-top: 1px solid $light-grey;

    @include desktop {
      flex-grow: 1;
    }
  }
}
