.advantages {
  padding-top: 7px;
  padding-bottom: 22px;

  @include tablet {
    padding-top: 16px;
    padding-bottom: 38px;
  }

  @include desktop {
    padding-top: 42px;
  }

  &__title {
    color: $black;
    font-size: 36px;
    line-height: 40px;
    font-weight: 400;
    margin: 0 0 38px;

    @include tablet {
      font-size: 60px;
      line-height: 1;
      margin-bottom: 73px;
    }
  }

  &__list {
    @include list-styles-reset;

    @include tablet {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      row-gap: 67px;
      column-gap: 58px;
    }

    @include desktop {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      column-gap: 77px;
    }
  }

  &__item {
    margin-bottom: 20px;
  }
}
