.advantages {
  padding-top: 7px;
  padding-bottom: 22px;

  &__title {
    color: $black;
    font-size: 36px;
    line-height: 40px;
    font-weight: 400;
    margin: 0 0 38px;
  }

  &__list {
    @include list-styles-reset;

    @include tablet {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      row-gap: 37px;
      column-gap: 137px;
    }

    @include desktop {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      column-gap: 77px;
    }
  }

  &__item {
    margin-bottom: 20px;
  }
}
