.advantage {
  display: flex;

  @include tablet {
    flex-direction: column;
  }

  &__icon-wrapper {
    background-color: $light-green;
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    margin-right: 20px;
    display: flex;
    justify-content: center;
  }

  &__description {
    font-family: $Arial;
    margin: 2px 0 0;
  }
}
