.button {
  box-sizing: border-box;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}

.button--promo-block {
  padding: 11px 73px;
  color: $white;
  background-color: $light-green;

  @include tablet {
    padding: 18px 26px;
    font-size: 20px;
    line-height: 1;
  }

  &:hover {
    background-color: $green;
  }

  &:active {
    color: rgba($white, 0.3);
  }
}

.button--order {
  padding: 11px 0;
  font-size: 16px;
  line-height: 20px;
  color: $white;
  background-color: $light-green;
}

.button--show-more {
  padding: 20px 0;
  font-size: 16px;
  line-height: 20px;
  background-color: $lightest-grey;
}

.button--form {
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: $Oswald;
  font-size: 16px;
  line-height: 20px;
  color: $white;
  border: none;
  background-color: $light-green;

  @include tablet {
    padding: 17px 64px;
    font-size: 20px;
  }

  @include desktop {
    padding: 16px 208px;
  }
}
