.button {
  text-transform: uppercase;
  text-decoration: none;
  box-sizing: border-box;
  text-align: center;
}

.button--promo-block {
  background-color: $light-green;
  padding: 11px 73px;
  color: $white;

  @include tablet {
    padding-left: 55px;
    padding-right: 55px;
  }
}

.button--order {
  font-size: 16px;
  line-height: 20px;
  padding: 11px 0;
  color: $white;
  background-color: $light-green;
}

.button--show-more {
  background-color: $lightest-grey;
  padding: 20px 0;
  font-size: 16px;
  line-height: 20px;
}
