.catalog {
  border-top: 1px solid $lighter-grey;

  &__list {
    @include list-styles-reset;

    @include tablet {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding-left: 30px;
      padding-right: 30px;
    }

    @include desktop {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      padding-left: 110px;
      padding-right: 110px;
    }
  }
}
