.checkbox {
  box-sizing: border-box;
  display: flex;
  align-items: center;

  @include tablet {
    flex-basis: 50%;
  }

  @include desktop {
    flex-basis: auto;
  }

  &__box {
    display: block;
    width: 30px;
    height: 30px;
    border: 1px solid $light-grey;
    box-sizing: border-box;
    margin-right: 16px;
    position: relative;

    @include tablet {
      width: 40px;
      height: 40px;
      margin-right: 18px;
    }


  }

  &:hover {
    .checkbox__box {
      border-color: #bababa;
    }
  }



  &__name {
    position: relative;
    padding-left: 45px;
    padding-top: 5px;
    padding-bottom: 7px;
    color: $black;
    font-size: 16px;
    text-transform: uppercase;

    @include tablet {
      padding-left: 60px;
      font-size: 20px;
      line-height: 30px;
    }
  }

  &__name::before {
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    left: 0;
    top: 0;
    border: 1px solid $light-grey;
    box-sizing: border-box;
    z-index: -1;

    @include tablet {
      width: 40px;
      height: 40px;
    }
  }

  input:checked ~ .checkbox__name::after {
    content: "";
    position: absolute;
    width: 19px;
    height: 15px;
    top: 7px;
    left: 6px;
    background: url("/img/icon_tick.svg") center no-repeat;

    @include tablet {
      left: 10px;
      top: 13px;
    }
  }

  input:disabled ~ .checkbox__name::before {
    opacity: 0.3;
  }

  input:disabled ~ .checkbox__name {
    opacity: 0.3;
  }
}

.checkbox--sweetener {
  margin-bottom: 13px;

  @include tablet {
    margin-bottom: 30px;
  }

  @include desktop {
    margin-right: 75px;
  }
}

.checkbox--water {
  margin-bottom: 12px;

  @include tablet {
    margin-bottom: 30px;
    padding-left: 28px;
  }

  @include desktop {
    margin-right: 137px;
  }
}

.checkbox--milk {
  margin-bottom: 11px;

  @include desktop {
    margin-right: 170px;
  }
}

.checkbox--vitamins {
  @include tablet {
    padding-left: 28px;
  }
}
