.checkbox {
  box-sizing: border-box;
  display: flex;
  align-items: center;

  @include tablet {
    flex-basis: 50%;
  }

  &__box {
    display: block;
    width: 30px;
    height: 30px;
    border: 1px solid $light-grey;
    box-sizing: border-box;
    margin-right: 16px;
    position: relative;

    @include tablet {
      width: 40px;
      height: 40px;
      margin-right: 18px;
    }
  }

  input:checked ~ .checkbox__box::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("/img/icon_tick.svg") center no-repeat;
  }

  &__name {
    color: $black;
    font-size: 16px;
    text-transform: uppercase;

    @include tablet {
      font-size: 20px;
      line-height: 30px;
    }
  }
}

.checkbox--sweetener {
  margin-bottom: 13px;

  @include tablet {
    margin-bottom: 30px;
  }
}

.checkbox--water {
  margin-bottom: 12px;

  @include tablet {
    margin-bottom: 32px;
    padding-left: 28px;
  }
}

.checkbox--milk {
  margin-bottom: 11px;
}

.checkbox--vitamins {
  @include tablet {
    padding-left: 28px;
  }
}
