.contacts {
  &__caption {
    color: #111111;
    font-size: 16px;
    text-transform: uppercase;
  }

  &__address {
    font-family: $Arial;
    line-height: 20px;
  }
}

.contact--index {
  background-color: $white;
}
