.contacts {
  padding-top: 29px;

  @include tablet {
    padding-top: 35px;
  }

  @include desktop {
    position: relative;
    padding-top: 0;
  }

  &__wrapper {
    display: flex;
    box-sizing: border-box;

    @include tablet {
      padding-left: 70px;
      padding-right: 70px;
    }

    @include desktop {
      position: absolute;
      background-color: $white;
      top: 94px;
      left: 110px;
      width: 570px;
      padding-top: 67px;
      padding-left: 75px;
      padding-bottom: 58px;
    }
  }

  &__caption {
    color: #111111;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    width: 50%;

    @include tablet {
      font-size: 20px;
      line-height: 24px;
      margin-right: 235px;
    }

    @include desktop {
      margin-right: 75px;
    }
  }

  &__address {
    font-family: $Arial;
    line-height: 20px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    margin: 0;

    @include tablet {
      font-size: 16px;
    }

    @include desktop {
      align-items: flex-start;
      text-align: left;
    }

    span:first-child {
      @include tablet {
        margin-bottom: 17px;
      }
    }
  }

  &__map {
    margin-top: 25px;
    background-color: $lightest-grey;

    @include tablet {
      margin-top: 58px;
    }

    @include desktop {
      margin-top: 0;
    }

    iframe {
      height: 362px;

      @include tablet {
        height: 400px;
      }
    }
  }
}

.contacts--index {
  background-color: $white;
}
