.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  @include tablet {
    max-width: 165px;
    justify-content: flex-end;
  }

  &__academy-text {
    text-decoration: none;
    font-family: $Arial;
    font-size: 16px;
    color: $darker-grey;

    @include tablet {
      margin-right: 24px;
    }
  }

  &__academy-icon {
    padding-top: 2px;

    @include desktop {
      padding-top: 5px;
    }
  }
}
