.copyright {
  &__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-decoration: none;

    @include tablet {
      max-width: 165px;
      justify-content: flex-end;
    }
  }

  &__academy-text {
    font-family: $Arial;
    font-size: 16px;
    color: $darker-grey;

    @include tablet {
      margin-right: 24px;
    }
  }

  &__academy-icon {
    padding-top: 2px;

    @include desktop {
      padding-top: 5px;
    }
  }

  &__link:hover {
    .copyright__academy-icon {
      fill: $light-green;
    }
  }

  &__link:active {
    .copyright__academy-text {
      color: #bebebe;
    }
    .copyright__academy-icon {
      fill: #c9e1bb;
    }
  }
}
