.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  &__academy-text {
    text-decoration: none;
    font-family: $Arial;
    font-size: 16px;
    color: $darker-grey;
  }
}
