.example {
  background-color: #eaeaea;
  padding-top: 27px;
  padding-bottom: 33px;

  @include tablet {
    background-color: $white;
  }

  &__wrapper {
    @include desktop {
      display: flex;
      justify-content: space-between;
    }
  }

  &__wrapper--left {
    @include desktop {
      flex-basis: 36.22%;
      display: block;
    }
  }

  &__title {
    color: $black;
    font-size: 36px;
    line-height: 40px;
    font-weight: 400;
    margin: 0;
  }

  &__description {
    font-family: $Arial;
    margin-top: 33px;
    margin-right: 5px;
  }

  &__stats {
    margin-top: 24px;
  }

  &__photo {
    margin-top: 7px;

    @include desktop {
      flex-basis: 57.31%;
    }
  }
}
