.example {
  background-color: #eaeaea;

  &__wrapper {
    width: 280px;
    margin: 0 auto;
  }

  &__title {
    color: $black;
    font-size: 36px;
    line-height: 40px;
    font-weight: 400;
  }

  &__description {
    font-family: $Arial;
  }
}
