.fieldset {
  border: none;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 9px;

  &__title {
    display: inline-block;
    margin-top: 0;
    margin-left: -20px;
    padding-top: 0;
    padding-left: 19px;
    font-size: 24px;
    line-height: 26px;
    font-weight: 400;
    color: $black;
    background-color: $white;
    flex-grow: 1;

    @include tablet {
      font-size: 36px;
      line-height: 1;
      padding-left: 0;
      margin-left: 39px;
    }
  }

  &__wrapper {
    @include tablet {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__flex {
    @include desktop {
      display: flex;
    }
  }

  &__item {
    margin-bottom: 14px;
  }

  &__border {
    @include tablet {
      border: 1px solid #e7e7e7;
      padding-top: 25px;
      padding-left: 27px;
      padding-right: 27px;
      padding-bottom: 10px;
    }
  }
}

.fieldset--goal {
  padding-top: 23px;
  padding-bottom: 4px;

  @include tablet {
    border: none;
    padding-top: 43px;
  }

  .fieldset__item {
    margin-bottom: 14px;
  }
}

.fieldset--contacts {
  @include tablet {
    padding-top: 45px;
  }

  .fieldset__title {
    padding-right: 22px;
    margin-top: -19px;
    margin-bottom: 36px;

    br {
      @include tablet {
        display: none;
      }
    }

    @include tablet {
      min-width: 515px;
      margin-right: 40px;
    }
  }

  .fieldset__container {
    @include tablet {
      padding-left: 68px;
    }
  }
}

.fieldset--comment {
  @include tablet {
    padding-top: 36px;
  }

  .fieldset__title {
    padding-right: 27px;
    margin-top: -19px;

    @include tablet {
      min-width: 185px;
      margin-right: 38px;
    }
  }

  .fieldset__title-wrp {
    margin-bottom: 39px;

    @include tablet {
      margin-bottom: 76px;
    }
  }

  .fieldset__title-wrp::before {
    width: 6%;
  }
}

.fieldset--additional {
  @include tablet {
    padding-top: 43px;
  }

  .fieldset__title {
    min-width: 164px;
    padding-top: 11px;

    @include tablet {
      min-width: 215px;
      margin-right: 41px;
    }
  }

  .fieldset__title-wrp {
    margin-bottom: 34px;

    @include tablet {
      margin-bottom: 56px;
    }
  }

  .fieldset__title-wrp::after {
    margin-top: 17px;

    @include tablet {
      margin-top: 20px;
    }
  }

  .fieldset__title-wrp::before {
    width: 7%;
    margin-top: 20px;
  }
}
