.field {
  display: flex;

  &__name {
    font-size: 16px;
    text-transform: uppercase;
  }

  &__value,
  &__value::placeholder {
    font-size: 20px;
    line-height: 30px;
    color: $darker-grey;
    text-transform: uppercase;
  }

  &__value {
    border: 1px solid #e7e7e7;
    flex-grow: 1;
  }
}

.field--contacts {
  @include desktop {
    flex-grow: 1;
  }

  &:first-child {
    @include desktop {
      margin-right: 78px;
    }
  }
}
