.fieldset {
  padding: 0 20px;
  border: none;

  @include tablet {
    padding-left: 71px;
    padding-right: 67px;
  }

  @include desktop {
    padding-left: 110px;
    padding-right: 110px;
  }

  &__title {
    color: $black;
    font-size: 24px;
    line-height: 26px;
  }

  &__wrapper {
    @include tablet {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__flex {
    @include desktop {
      display: flex;
    }
  }
}
