.main-nav {
  display: none;
  width: 100%;
  z-index: 1;
  background-color: $white;

  @include tablet {
    display: block;
    flex-grow: 1;
    position: static;
    background-color: transparent;
  }

  .page-header--no-js & {
    display: block;
  }
}

.main-nav--form {
  @include tablet {
    margin-bottom: 5px;
  }
}
