.main-nav {
  min-height: 66px;

  @include tablet {
    flex-grow: 1;
  }

  &__toggle {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 18px;
    height: 18px;
    cursor: pointer;
    border: none;
    background-color: transparent;

    @include tablet {
      display: none;
    }
  }
}

.main-nav--closed {
  .main-nav__toggle::before {
    content: "";
    position: absolute;
    top: 23px;
    right: 23px;
    height: 1.5px;
    width: 24px;
    background-color: $black;
    box-shadow:
      0 6px 0 0 $black,
      0 12px 0 0 $black;
  }
}

.main-nav--opened {
  .main-nav__toggle::before,
  .main-nav__toggle::after {
    content: "";
    position: absolute;
    top: 31px;
    right: 20px;
    height: 1.5px;
    width: 25px;
    background-color: $black;
  }

  .main-nav__toggle::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  .main-nav__toggle::after {
    transform: rotate(-45deg);
  }
}
