.main-nav {
  position: absolute;
  width: 100%;
  top: 66px;
  left: 0;
  z-index: 1;
  background-color: $white;

  @include tablet {
    flex-grow: 1;
    position: static;
    background-color: transparent;
  }
}
