.page-header {
  position: relative;
  box-sizing: border-box;
  width: 100%;

  @include tablet {
    padding: 23px 0 23px;
  }

  @include desktop {
    padding: 53px 0 32px;
    position: fixed;
    z-index: 4;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-top: 12px;
    padding-bottom: 14px;

    @include tablet {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__logo {
    @include tablet {
      margin-right: 95px;
      min-width: 174px;
    }

    @include desktop {
      margin-right: 540px;
      min-width: 202px;
    }

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }

  &__logo--text {
    @include tablet {
      display: none;
    }
  }

  &__toggle {
    display: inline-block;
    width: 22px;
    height: 21px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    padding-left: 0;
    padding-right: 0;

    @include tablet {
      display: none;
    }
  }

  &__toggle--closed::before {
    content: "";
    position: absolute;
    top: 23px;
    right: 23px;
    height: 1.5px;
    width: 24px;
    background-color: $black;
    box-shadow:
      0 6px 0 0 $black,
      0 12px 0 0 $black;
  }

  &__toggle--opened::before,
  &__toggle--opened::after {
    content: "";
    position: absolute;
    top: 31px;
    right: 20px;
    height: 1.5px;
    width: 25px;
    background-color: $black;
  }

  &__toggle--opened::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &__toggle--opened::after {
    transform: rotate(-45deg);
  }
}
