.page-header {
  position: relative;
  box-sizing: border-box;
  width: 100%;

  @include tablet {
    padding: 23px 0 23px;
  }

  @include desktop {
    padding: 53px 0 32px;
    position: fixed;
    z-index: 4;
  }

  &__container {
    display: flex;
    flex-direction: column;

    @include tablet {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__logo {
    display: flex;
    width: 190px;
    justify-content: space-between;
    align-items: center;
    height: 66px;
    margin-left: 20px;

    @include tablet {
      width: 174px;
      margin-left: 0;
      margin-right: 95px;
    }

    @include desktop {
      width: 202px;
      margin-right: 539px;
    }

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }
}
