.page-header {
  display: flex;
  flex-direction: column;
  position: relative;

  @include tablet {
    padding: 24px 29px 0 30px;
    flex-direction: row;
    justify-content: space-between;
  }

  @include desktop {
    padding: 53px 110px 0;
  }

  &__logo {
    display: flex;
    width: 190px;
    justify-content: space-between;
    align-items: center;
    height: 66px;

    @include tablet {
      width: 174px;
    }

    @include desktop {
      width: 202px;
    }
  }
}
