@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&display=swap");

.page {
  font-family: $Oswald;
  color: $darker-grey;
  font-size: 14px;
  line-height: 18px;
  min-height: 100%;
}
