.page-main {
  &__title {
    margin-top: 27px;
    margin-bottom: 37px;
    font-size: 36px;
    line-height: 1;
    font-weight: 400;
    color: $black;

    @include tablet {
      margin-top: 37px;
      margin-bottom: 54px;
      font-size: 60px;
    }

    @include desktop {
      margin-top: 35px;
      margin-bottom: 56px;
    }
  }

  &__title--catalog {
    margin-bottom: 40px;

    @include tablet {
      margin-top: 39px;
    }
  }

  &__wrapper {
    @include tablet {
      padding-left: 69px;
      padding-right: 67px;
    }

    @include desktop {
      padding-left: 30px;
      padding-right: 30px;
    }
  }

  &__caption {
    color: $black;
    text-transform: uppercase;
    margin-bottom: 20px;

    @include tablet {
      font-size: 20px;
      line-height: 30px;
    }
  }
}
