.parameter-list {
  display: flex;
  margin-bottom: 0;
  flex-wrap: wrap;

  &__name,
  &__value {
    min-width: 41px;
    box-sizing: border-box;
    font-family: $Arial;
    font-size: 12px;
    line-height: 16px;
  }

  &__name {
    margin-right: 58px;
  }

  &__value {
    margin-left: 0;
    text-align: right;
  }
}

.parameter-list--extra {
  &__name,
  &__value {
    font-size: 14px;
    line-height: 1;
  }

  @include desktop {
    flex-wrap: nowrap;
  }
}
