.parameter-list {
  display: flex;
  flex-wrap: wrap;

  &__name,
  &__value {
    font-family: $Arial;
    font-size: 12px;
    line-height: 16px;
    flex-basis: 50%;
  }

  &__value {
    margin-left: 0;
  }
}

.parameter-list--extra {
  &__name,
  &__value {
    font-size: 14px;
    line-height: 1;
  }

  @include desktop {
    flex-wrap: nowrap;
  }
}
