.product {
  padding-top: 21px;

  @include tablet {
    flex-direction: column;
    background-color: $lightest-grey;
  }

  &__wrapper {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    flex-wrap: wrap;
  }

  &__image-wrapper {
    display: flex;
    padding-bottom: 6px;
    flex-basis: 50%;
    justify-content: center;
    align-items: center;

    @include tablet {
      flex-basis: auto;
    }
  }

  &__description {
    flex-basis: 50%;

    @include tablet {
      flex-basis: auto;
    }
  }

  &__title {
    max-width: 80px;
    margin-top: 0;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: $darkest-grey;
    text-transform: uppercase;
  }

  &__button {
    flex-basis: 100%;

    @include tablet {
      flex-basis: auto;
    }
  }
}
