.product {
  padding-top: 21px;
  padding-bottom: 24px;
  border-bottom: 1px solid $lightest-grey;

  @include tablet {
    flex-direction: column;
    background-color: $lightest-grey;
  }

  &__wrapper {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    flex-wrap: wrap;
  }

  &__image-wrapper {
    display: flex;
    flex-basis: 50%;
    justify-content: center;
    align-items: center;

    @include tablet {
      flex-basis: auto;
    }
  }

  &__description {
    flex-basis: 50%;

    @include tablet {
      flex-basis: auto;
    }
  }

  &__title {
    max-width: 80px;
    margin-top: 0;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: $darkest-grey;
    text-transform: uppercase;
  }

  &__button {
    flex-basis: 100%;

    @include tablet {
      flex-basis: auto;
    }
  }
}

.product--chicken-small {
  .product__image-wrapper {
    padding-top: 7px;
  }

  .product__button {
    margin-top: 21px;
  }
}

.product--chicken-big {
  .product__image-wrapper {
    padding-top: 9px;
  }

  .product__button {
    margin-top: 13px;
  }
}

.product--fish-small {
  .product__image-wrapper {
    padding-top: 25px;
  }

  .product__button {
    margin-top: 20px;
  }
}

.product--fish-big {
  .product__image-wrapper {
    padding-top: 9px;
  }

  .product__button {
    margin-top: 13px;
  }
}

.product--buckwheat-small {
  .product__image-wrapper {
    padding-top: 28px;
  }

  .product__button {
    margin-top: 17px;
  }
}

.product--buckwheat-big {
  .product__image-wrapper {
    padding-top: 10px;
  }

  .product__button {
    margin-top: 13px;
  }
}

.product--rice-small {
  .product__image-wrapper {
    padding-top: 22px;
  }

  .product__button {
    margin-top: 17px;
  }
}
