.program-form {
  padding-top: 19px;
  padding-bottom: 32px;

  @include tablet {
    padding-top: 46px;
    padding-bottom: 72px;
  }

  @include desktop {
    padding-bottom: 80px;
  }

  &__wrapper {
    @include desktop {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__item--base {
    @include desktop {
      margin-right: 80px;
      flex-basis: 50%;
    }
  }

  &__item--goal {
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;

    @include tablet {
      margin-top: 43px;
      border-top: none;
      border-bottom: none;
    }

    @include desktop {
      margin-top: 0;
      flex-basis: 50%;
    }
  }

  &__border {
    border-top: 2px solid $light-green;
  }

  &__item--contacts {
    margin-top: 43px;

    @include tablet {
      margin-top: 97px;
    }

    @include desktop {
      margin-top: 62px;
    }

    .container-form {
      margin-top: -19px;

      @include tablet {
        margin-top: -69px;
        padding-left: 20px;
      }
    }
  }

  &__item--comment {
    margin-top: 16px;

    @include tablet {
      margin-top: 58px;
    }

    @include desktop {
      margin-top: 60px;
    }

    .container-form {
      margin-top: -17px;

      @include tablet {
        margin-top: -60px;
      }
    }
  }

  &__item--additional {
    margin-top: 12px;

    @include tablet {
      margin-top: 61px;
    }

    @include desktop {
      margin-top: 63px;
    }

    .container-form {
      margin-top: -17px;

      @include tablet {
        margin-top: -67px;
      }
    }
  }

  &__container {
    @include desktop {
      max-width: 1220px;
      margin: 0 auto;
      display: flex;
    }
  }

  &__footer {
    display: flex;
    padding-top: 12px;
    flex-direction: column;
    align-items: center;

    @include tablet {
      padding-left: 71px;
      padding-right: 70px;
      padding-top: 31px;
      flex-direction: row;
    }

    @include desktop {
      padding-top: 21px;
      padding-left: 30px;
      padding-right: 30px;
    }
  }

  &__caption {
    position: relative;
    display: block;
    max-width: 160px;
    margin-top: 21px;
    padding-left: 27px;
    font-family: $Arial;
    line-height: 16px;
    text-align: center;
    color: $black;

    @include tablet {
      margin-top: 0;
      padding-bottom: 3px;
      padding-left: 29px;
      font-size: 16px;
      line-height: 1;
    }

    @include desktop {
      padding-bottom: 0;
    }
  }

  &__caption::before {
    content: "*";
    position: absolute;
    left: 0;
  }

  &__caption::after {
    content: "";
    position: absolute;
    left: 10px;
    top: 9px;
    width: 14px;
    height: 1px;
    background-color: $black;

    @include tablet {
      top: 7px;
      left: 9px;
      width: 16px;
    }
  }

  &__submit {
    width: 100%;

    @include tablet {
      width: auto;
      margin-right: 63px;
    }

    @include desktop {
      margin-right: 83px;
    }
  }
}
