.program {
  background-color: $lightest-grey;
  padding: 30px 20px 20px;
  box-sizing: border-box;

  @include tablet {
    padding: 77px 279px 55px 53px;
  }

  @include desktop {
    flex-basis: 50%;
    padding-right: 51px;
    padding-bottom: 58px;
  }

  &__title {
    color: $black;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 37px;
    font-weight: 400;
    margin: 0;
    padding-left: 71px;

    @include tablet {
      font-size: 36px;
      line-height: 1;
      padding-left: 0;
    }

    @include desktop {
      padding-left: 161px;
    }
  }

  &__description {
    font-family: $Arial;
    padding-bottom: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
    border-bottom: 1px solid #d9d9d9;

    @include tablet {
      font-size: 16px;
      line-height: 24px;
      margin-top: 26px;
      border-bottom: none;
      margin-bottom: 31px;
    }

    @include desktop {
      margin-top: 74px;
      margin-bottom: 6px;
    }
  }

  &__link {
    min-width: 170px;
    box-sizing: border-box;
    color: $black;
    font-size: 16px;
    line-height: 1;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    padding-right: 47px;
    background-image: url("/img/arrow.svg");
    background-position: 100px center;
    background-repeat: no-repeat;

    @include tablet {
      font-size: 20px;
      line-height: 30px;
      padding-right: 61px;
    }



    &:hover {
      background-image: url("/img/arrow-hover.svg");
      background-position: 100px center;
      background-repeat: no-repeat;

      @include tablet {
        background-position-x: 132px;
      }
    }
  }
}

.program--diet {
  background-image: url("/img/cat_diet.svg");
  background-position: 22px 21px;
  background-repeat: no-repeat;

  @include tablet {
    background-size: 200px;
    background-position: 446px 80px;
  }

  @include desktop {
    margin-right: 80px;
    background-size: 100px;
    background-position: 52px 40px;
  }

  .program__link {
    @include tablet {
      background-position-x: 132px;
    }

    @include desktop {
      background-position-x: 135px;
    }
  }
}

.program--mass {
  background-image: url("/img/cat_mass.svg");
  background-position: 13px 24px;
  background-repeat: no-repeat;

  @include tablet {
    padding-right: 311px;
    background-size: 268px;
    background-position: 412px 93px;
  }

  @include desktop {
    padding-right: 61px;
    background-size: 134px;
    background-position: 33px 46px;
  }

  .program__link {
    @include tablet {
      background-position-x: 128px;
    }

    @include desktop {
      background-position-x: 129px;
    }
  }
}
