.program-form {
  padding-top: 19px;
  padding-bottom: 32px;

  @include tablet {
    padding-top: 46px;
    padding-bottom: 72px;
  }

  &__container {
    @include desktop {
      display: flex;
      padding: 0 110px;
    }
  }

  &__wrapper {
    @include desktop {
      flex-basis: 50%;
    }

    &:first-child {
      @include desktop {
        margin-right: 80px;
      }
    }
  }

  &__footer {
    display: flex;
    flex-direction: column;
    padding-top: 12px;

    @include tablet {
      padding-left: 71px;
      padding-right: 70px;
      flex-direction: row;
      padding-top: 31px;
    }

    @include desktop {
      padding-left: 110px;
      padding-right: 110px;
    }
  }

  &__caption {
    color: $black;
    line-height: 16px;
    font-family: $Arial;
    text-align: center;
    margin-top: 21px;

    @include tablet {
      font-size: 16px;
      line-height: 1;
    }
  }

  &__submit {
    @include tablet {
      margin-right: 63px;
    }

    @include desktop {
      flex-basis: auto;
      min-width: 568px;
      margin-right: 81px;
    }
  }
}
