.promo {
  max-width: 280px;
  padding-top: 38px;
  margin: 0 auto;

  @include tablet {
    max-width: 708px;
    padding-top: 69px;
    padding-bottom: 40px;
  }

  @include desktop {
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 80px;
  }

  &__wrapper {
    position: relative;
    padding: 188px 58px 40px 57px;
    background: $light-green url("/img/gift-photo-mobile.jpg") no-repeat center;

    @include tablet {
      display: flex;
      padding: 72px 120px 68px 57px;
      background-image: url("/img/gift-photo-tablet.jpg");
      justify-content: flex-end;
    }

    @include desktop {
      padding: 187px 41px 42px 39px;
      background-image: url("/img/gift-photo-desktop.jpg");
    }
  }

  &__wrapper::before {
    position: absolute;
    width: 78px;
    height: 80px;
    top: 57px;
    left: 101px;
    background: url("/img/icon_gift.svg") center no-repeat;
    content: "";

    @include tablet {
      height: 85px;
      top: 55px;
      left: 79px;
    }

    @include desktop {
      height: 84px;
      left: 85px;
    }
  }

  &__description {
    padding: 0;
    margin: 0;
    font-family: $Arial;
    color: $white;
    font-size: 16px;
    line-height: 20px;
    text-align: center;

    @include tablet {
      max-width: 165px;
      text-align: left;
    }

    @include desktop {
      text-align: center;
    }
  }
}
