.promo-block {
  background: $green url("/img/promo-block-bg.jpg") no-repeat center;
  padding-top: 28px;
  padding-bottom: 164px;
  position: relative;

  @include tablet {
    background: none;
    padding-left: 117px;
    padding-right: 230px;
    padding-top: 50px;
  }

  &__title {
    font-size: 36px;
    line-height: 1;
    color: $white;
    font-weight: 400;
    margin: 0;
    text-align: center;

    @include tablet {
      color: $black;
      font-size: 60px;
      text-align: left;
    }
  }

  &__caption {
    line-height: 1;
    color: $white;
    display: block;
    margin-top: 25px;
    text-align: center;
    box-sizing: border-box;
    text-transform: uppercase;

    @include tablet {
      color: $black;
      text-align: left;
      font-size: 20px;
      margin-top: 42px;
    }
  }

  &__img-wrapper {
    position: absolute;
    top: 168px;

    @include tablet {
      top: 251px;
    }
  }

  &__button {
    position: absolute;
    top: 441px;

    @include tablet {
      top: 281px;
      left: 112px;
    }
  }
}
