.promo-block {
  background: $green url("/img/promo-block-bg.jpg") no-repeat center;

  &__wrapper {
    width: 280px;
    margin: 0 auto;
    padding: 27px 0 22px;
  }

  &__title {
    font-size: 36px;
    line-height: 1;
    color: $white;
    font-weight: 400;
    margin: 0;
  }

  &__caption {
    line-height: 1;
    color: $white;
    text-transform: uppercase;
  }

  &__button {
    text-decoration: none;
  }
}
