.site-list {
  @include list-styles-reset;

  @include tablet {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    color: $black;
    font-size: 20px;
    line-height: 1;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    border-top: 1px solid #e6e6e6;
    box-sizing: border-box;

    @include tablet {
      border-top: none;
      font-weight: 400;
      font-size: 18px;
    }

    @include desktop {
      font-size: 20px;
      line-height: 30px;
      color: $white;
    }

    &:hover a {
      opacity: 0.6;
    }

    &:active a {
      opacity: 0.3;
    }

    a {
      text-decoration: none;
      padding-top: 22px;
      padding-bottom: 23px;
      text-align: center;
      color: $black;
      display: block;
      box-sizing: border-box;

      @include tablet {
        padding-bottom: 11px;
      }

      @include desktop {
        padding-bottom: 6px;
        padding-top: 16px;
        color: $white;
      }
    }
  }

  &__item--active {
    @include tablet {
      border-bottom: 2px solid $light-green;
    }

    @include desktop {
      border-bottom: 2px solid $white;
    }
  }
}
