.site-list {
  @include list-styles-reset;

  @include tablet {
    display: flex;
    justify-content: flex-end;
  }

  @include desktop {
    padding-bottom: 8px;
  }

  &__item {
    color: $black;
    font-size: 20px;
    line-height: 1;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    border-top: 1px solid #e6e6e6;
    box-sizing: border-box;

    @include tablet {
      border-top: none;
      font-weight: 400;
      font-size: 18px;
      margin-left: 36px;
    }

    @include desktop {
      font-size: 20px;
      line-height: 30px;
      margin-left: 35px;
    }

    &:hover .site-list__link {
      opacity: 0.6;
    }

    &:active .site-list__link {
      opacity: 0.3;
    }
  }

  &__link {
    text-decoration: none;
    padding-top: 22px;
    padding-bottom: 23px;
    text-align: center;
    color: $black;
    display: block;
    box-sizing: border-box;

    @include tablet {
      padding-bottom: 11px;
    }

    @include desktop {
      padding-bottom: 6px;
      padding-top: 16px;
    }
  }

  &__item--active {
    @include tablet {
      border-bottom: 2px solid $light-green;
    }
  }
}

.site-list--index {
  .site-list__link {
    @include desktop {
      color: $white;
    }
  }

  .site-list__item--active {
    @include desktop {
      border-bottom: 2px solid $white;
    }
  }
}

.site-list--catalog {
  .site-list__link {
    @include tablet {
      padding-bottom: 9px;
    }
  }
}
