.social {
  width: 100%;
  padding: 20px 0 17px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;

  @include tablet {
    border-top: none;
    border-bottom: none;
    max-width: 134px;
    padding-top: 12px;
    margin-left: 33px;
  }

  @include desktop {
    padding-top: 11px;
  }

  &__list {
    @include list-styles-reset;
    max-width: 134px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__item--vk {
    @include tablet {
      margin-right: 7px;
    }

    svg {
      fill: #666666;
    }

    &:hover {
      svg {
        fill: $light-green;
      }
    }

    &:active svg {
      opacity: 0.3;

      path {
        fill: $light-green;
      }
    }

    & svg {
      @include tablet {
        width: 30px;
        height: 22px;
      }
    }
  }

  &__item--instagram {
    svg {
      fill: #666666;

      @include tablet {
        width: 23px;
        height: 23px;
      }
    }

    &:hover svg {
      fill: $light-green;
    }

    &:active svg {
      opacity: 0.3;
      fill: $light-green;
    }
  }

  &__item--facebook {
    margin-right: 4px;

    svg {
      stroke: #666666;
      fill: none;

      @include tablet {
        width: 32px;
        height: 38px;
      }
    }

    &:hover svg {
      stroke: $light-green;
    }

    &:active svg {
      opacity: 0.3;
      stroke: $light-green;
    }
  }
}
