.social {
  @include list-styles-reset;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 19px 0 18px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;

  @include tablet {
    border-top: none;
    border-bottom: none;
    width: 33.3%;
  }

  &__item--vk {
    margin-right: 36px;

    &:hover svg {
      path {
        fill: $light-green;
      }
    }

    &:active svg {
      opacity: 0.3;

      path {
        fill: $light-green;
      }
    }
  }

  &__item--instagram {
    &:hover svg {
      path {
        fill: $light-green;
      }
    }

    &:active svg {
      opacity: 0.3;

      path {
        fill: $light-green;
      }
    }
  }

  &__item--facebook {
    margin-left: 33px;

    &:hover svg {
      path {
        stroke: $light-green;
      }
    }

    &:active svg {
      opacity: 0.3;

      path {
        stroke: $light-green;
      }
    }
  }
}
