.stats {
  display: flex;
  flex-direction: column;

  @include tablet {
    flex-direction: row;
    justify-content: space-between;
  }

  @include desktop {
    flex-direction: column;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    @include desktop {
      justify-content: flex-start;
      margin-bottom: 22px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 14px 20px 17px;
    box-sizing: border-box;
    border: 1px solid $light-grey;
    border-radius: 2px;
    min-width: 124px;
    position: relative;
    margin-top: 0;
    margin-bottom: 0;

    @include tablet {
      min-width: 162px;
      padding-top: 14px;
      padding-bottom: 19px;
    }

    @include desktop {
      padding-top: 15px;
      padding-bottom: 18px;
      margin-bottom: 38px;
    }
  }

  &__item:first-child {
    @include tablet {
      margin-right: 42px;
    }
  }

  &__figure {
    color: $black;
    font-size: 24px;
    line-height: 1;
    text-transform: uppercase;

    @include tablet {
      font-size: 30px;
      line-height: 37px;
    }
  }

  &__name {
    font-family: $Arial;
    font-size: 12px;
    line-height: 1;
    position: absolute;
    max-width: 80px;
    width: 100%;
    text-align: center;
    top: 47px;
    background-color: #eaeaea;

    @include tablet {
      background-color: $white;
      font-size: 14px;
      max-width: 109px;
      top: 62px;
    }

    @include desktop {
      background-color: $lightest-grey;
    }
  }

  &__name--time {
    @include tablet {
      max-width: 143px;
    }
  }
}

.stats__item--cost {
  text-align: center;
  border: none;
  display: block;
  padding-left: 0;
  padding-right: 0;

  .stats__name {
    position: static;
    max-width: unset;

    @include tablet {
      text-align: right;
      margin-bottom: 9px;
    }

    @include desktop {
      text-align: left;
      width: auto;
      margin-bottom: 0;
      margin-right: 63px;
    }
  }

  @include tablet {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 2px;
    padding-top: 12px;
  }

  @include desktop {
    width: 100%;
    flex-direction: row;
    margin-left: 0;
    padding-left: 0;
    padding-top: 0;
    text-align: left;
  }

  .stats__name,
  .stats__figure {
    font-size: 14px;
    font-family: $Oswald;
    color: $black;
    line-height: 20px;
    text-transform: uppercase;

    @include tablet {
      font-size: 20px;
    }
  }
}
