.textarea {
  border: 1px solid #e7e7e7;
  color: $darker-grey;
  text-transform: uppercase;
  font-size: 16px;
  font-family: $Oswald;
  width: 100%;
  box-sizing: border-box;
  padding-top: 6px;
  padding-left: 14px;
  min-height: 150px;

  @include tablet {
    font-size: 20px;
    line-height: 30px;
    padding-top: 10px;
    padding-left: 17px;
    min-height: 174px;
  }
}
