@mixin list-styles-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin mobile {
  @media (min-width: $mobile-width-only) {
      @content;
  }
}

@mixin tablet {
  @media (min-width: $tablet-width) {
      @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-width) {
      @content;
  }
}
